__pycache__/
*.py[cod]
.env
venv/
.env.*
.DS_Store
.frontend-env
node_modules/
frontend/node_modules/
frontend/dist/
frontend/package-lock.json
backend_server/reports/
backend_server/*.db

tls.crt
tls.key
ca-chain.cert.pem
**/tls.crt
**/tls.key
**/ca-chain.cert.pem